@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";

@theme {
    --bg-banner: url('../assets/banner_img.png');
    --bg-therapy: url("../assets/yoga_therapy.png");
}

body {
    font-family: "Nunito", sans-serif;
}